:root {
    --bg-color: white;
}
* {
    font-family: 'Courier', monospace;
    font-weight: bold;
    color: #585858;
}
body {
    background-color: var(--bg-color);
    display: grid;
    justify-items: stretch;

    grid-template-areas:
        'title title title title title title'
        'todo todo note note note goal'
        'todo todo note note note goal'
        'todo todo note note note album'
        'todo todo note note note album';
}

h2 {
    font-size: 2vw;
    margin: 0.5vw;
}

h3 {
    font-size: 1.3vw;
}

/* Header Block */

header {
    grid-area: title;
    display: grid;
    height: 4.5vw;
    margin: 1vw;
    justify-items: stretch;
    grid-template-areas: 'back one two date three four headerHome';
}

#monthView {
    padding-top: 1vw;
    grid-area: back;
    font-size: 1.5vw;
}

#words {
    display: block;
}

h1 > a:first-child {
    text-decoration: none;
}

h1 > a:first-child:hover {
    text-decoration: underline;
}

#date {
    display: block;
    grid-area: date;
    justify-self: center;
    font-size: 2.5vw;
    margin: 1.3vw;
    color: black;
}

#logo1 {
    grid-area: one;
    margin: 0.5vw;
    height: 5vw;
}

#logo2 {
    grid-area: two;
    margin: 0.5vw;
    height: 5vw;
}

#logo3 {
    grid-area: three;
    margin: 0.5vw;
    height: 5vw;
}

#logo4 {
    grid-area: four;
    margin: 0.5vw;
    height: 5vw;
}

#home {
    grid-area: headerHome;
    height: 3.5vw;
    margin: 1vw;
}

#homeContainer {
    justify-self: end;
}

#home:hover {
    cursor: pointer;
    opacity: 0.5;
}

/* Todo Block */

#todo {
    grid-area: todo;
    background-color: white;
    margin: 1vw;
    padding: 1vw 2vw;
    border-radius: 2vw;
    border-style: solid;
    border-width: 1mm;
    border-color: black;
    height: 42vw;
    width: 30vw;
}

#addTodo {
    background-color: transparent;
    border: none;
    font-size: 3vh;
}

#bullets {
    margin: 0;
    height: 36vw;
    min-width: 10vw;
    overflow-y: auto;
    overflow-wrap: break-word;
    overflow: -moz-scrollbars-vertical;
}

/* Note Block */

#notes {
    grid-area: note;
    background-color: white;
    margin: 1vw;
    padding: 1vw;
    border-radius: 2vw;
    border-style: solid;
    border-width: 1mm;
    border-color: black;
    height: 42vw;
    width: 28vw;
    overflow-y: auto;
    overflow-wrap: break-word;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Goal Reminder Block */

#goalReminder {
    grid-area: goal;
    background-color: white;
    margin: 1vw 1vw 0vw;
    padding: 0.5vw;
    border-radius: 2vw;
    border-style: solid;
    border-width: 1mm;
    border-color: black;

    display: grid;
    grid-template-rows: [title] 15% [month] 40% [year] 40%;
}

#goalReminder + h2 {
    grid-row-start: title;
}

#monthSection,
#yearSection {
    padding-left: 0.5vw;
}

#monthTitle {
    margin-top: 0.3vw;
    margin-bottom: 0.5vw;
    text-decoration: underline;
}

#yearTitle {
    margin-top: 0.6vw;
    margin-bottom: 0.5vw;
    text-decoration: underline;
}

#monthGoal {
    grid-row-start: month;
    height: 5vw;
    max-height: 5vw;
    overflow-y: auto;
    overflow-wrap: break-word;
}

#monthGoal > h2 {
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 1px;
}

#yearGoal {
    grid-row-start: year;
    height: 4vw;
    max-height: 5vw;
    overflow-y: auto;
    overflow-wrap: break-word;
}

#yearGoal > h2 {
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 1px;
}

/* Photo Album Block */

#photo-album {
    grid-area: album;
    background-color: white;
    margin: 0.7vw;
    padding: 0.8vw;
    border-radius: 2vw;
    border-style: solid;
    border-width: 1mm;
    border-color: black;
}
/* added border and made it very visible and when the cursor is on it, the cursor turns to a pointer */
#addPhoto,
#deletePhoto {
    background-color: transparent;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 1vw;
    margin-bottom: 10px;
    color: #565252;
    cursor: pointer;
}

/* when user hovers their cursor over the button, it fills in with grey */
#addPhoto:hover,
#deletePhoto:hover {
    background-color: lightgray;
}

#photoCanvas {
    border: 2px solid #000000;
    width: 100%;
    height: 70%;
}
/* made the save and cancel buttons look similar to the add photo button */
button#save,
button#cancel {
    position: relative;
    background-color: transparent;
    border: 3px solid black;
    border-radius: 5px;
    color: #565252;
    cursor: pointer;
}

/* same as add photo button on hover */
button#save:hover,
button#cancel:hover {
    background-color: lightgray;
}

button#left,
button#right {
    background-color: transparent;
    border: none;
    font-size: 1vw;
    cursor: pointer;
}

/* Misc */

#entry,
#entry-button {
    color: black;
}

.entry-form {
    height: 1.5vw;
    padding: 0.35vw;
}

.entry-form-text {
    height: 80%;
    width: 15vw;
    font-size: 1.1vw;
}

.entry-form-button {
    height: 1.7vw;
    width: 3.5vw;
    min-width: 3vw;
    font-size: 1vw;
    background-color: var(--bg-color);
    border: none;
    border-radius: 0.25vw;
    cursor: pointer;
}

.entry-form-button:hover {
    opacity: 0.7;
}
